<Config>
	<SpriteCategory Name="ui_AD1259">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_encyclopedia">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_user_interface">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_mapbar">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_kingdom">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_partyscreen">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_clan">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_inventory_interface">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_armymanagement">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_popup">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_fullbackgrounds">
		<AlwaysLoad/>
	</SpriteCategory>
	<SpriteCategory Name="ui_1000">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1001">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1002">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1003">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1004">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1005">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1006">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1007">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1008">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1009">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1010">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1011">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1012">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1013">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1014">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1015">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1016">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1017">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1018">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1019">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1020">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1021">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1022">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1023">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1024">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1025">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1026">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1027">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1028">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1029">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1030">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1031">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1032">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1033">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1034">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1035">
        <AlwaysLoad/>
    </SpriteCategory>
    <SpriteCategory Name="ui_1036">
        <AlwaysLoad/>
    </SpriteCategory>
</Config>